<%= link_to "back" , @user,class:"btn btn-primary" %>
</br>
</br>
<div>
<%unless  @latest_checkup.is_a?(NilClass) %> 
    <p class="alert alert-info" role="alert">Your last checkup was on:
    <%= @latest_checkup %>
    </p>
    <% else %>
     <p class="alert alert-info" role="alert"></br>Time for Blood Sugar Checkup! </p>
<% end %>
<%= render @blood_sugar_detail %>
</br>
</div> 