<% unless @blood_sugar_detail.errors.empty? %> 
    <div class="alert alert-danger" role="alert">
        <% @blood_sugar_detail.errors.full_messages.each do |message| %>
            <div><%= message %></div>
        <% end %> 
    </div> 
<% end %>
<%= render 'form' %>